.side-bar-icon{
	color:#428bca;
}

.top-bar{
	margin-top: 20px;
}

.hi{
  font-size:50px;
  text-align: center;
}

.masthead{
	margin-top: 80px;
	padding:80px 0;
	text-align: center;
	font-family: arial;	
	background-color: #3498db;
}

.projects-section{
	text-align: left;	
}

.free-blocks{
	padding:80px 0;
	text-align: center;
	font-family: arial;		
}
.bright-color{
	color:#ddd;
}
.masthead-text{
	color:#ddd;	
	font-size: 17px;
}

.body-slides{
	
	width: 500px;
	text-align: center;
	
}

